@{
  Layout="_Layout";
}

@model PierresSweetAndSavory.Models.Treat

<div class="card">
  <h1>@Model.TreatName</h1>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
    @Html.Label("Add a Flavor")
    <br>
    @Html.DropDownList("FlavorId")
    <br>
    <br>
    <input type="submit" value="Add this Flavor" class="btn btn-outline-warning"/>
  }
</div>
<br>
<h3>Current @Model.TreatName Flavor Profile:</h3>
  <table class="table table-bordered">
    @foreach(var join in Model.JoinEntities)
    {
      <tr>
        <td>
          @Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new{id = join.Flavor.FlavorId})
        </td>
        <td style="width:10%">
          @using (Html.BeginForm("DeleteFlavor", "Treats"))
          {
            @Html.Hidden("joinId", @join.TreatFlavorsId)
            @Html.Hidden("id", @Model.TreatId)
            <input type="submit" value="Remove Flavor"class="btn btn-outline-warning"/>
          }
        </td>
      </tr>
    }
  </table>

<br>
<h4 class="h4">@Html.ActionLink("Return to Treat", "Details", "Treat", new{id = @Model.TreatId})</h4>