@{
  Layout = "_Layout";
}

@model PierresSweetAndSavory.Models.Flavor;

<h1>Edit @Model.FlavorName</h1>

<div class="card">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    <br>
    @Html.EditorFor(model => model.FlavorName)
    <br><br>
    
    <input type="submit" value="Save" class="btn btn-outline-warning"/>
  }
</div>

<p>@Html.ActionLink("Return to Flavor List", "Index")</p>